amqp
apturl
argon2-cffi
asgiref
astroid
attrs
backcall
backports.zoneinfo
bcrypt
beautifulsoup4
billiard
bleach
blinker
Brlapi
celery
certifi
cffi
chardet
click
click-didyoumean
click-plugins
click-repl
colorama
command-not-found
cryptography
cupshelpers
cycler
dbus-python
debugpy
decorator
defer
defusedxml
Deprecated
distlib
distro
distro-info
dj-database-url
Django
django-crispy-forms
django-crontab
django-extensions
django-on-heroku
duplicity
entrypoints
et-xmlfile
fasteners
filelock
future
googletrans
gunicorn
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
hyperframe
idna
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
isort
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keyring
kiwisolver
kombu
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lazy-object-proxy
lockfile
louis
macaroonbakery
Mako
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
monotonic
MouseInfo
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
numpy
oauthlib
olefile
openpyxl
packaging
pandas
pandocfilters
paramiko
parso
pbr
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psycopg2-binary
ptyprocess
PyAutoGUI
pycairo
pycparser
pycups
PyGetWindow
Pygments
PyGObject
PyJWT
pylint
pylint-django
pylint-plugin-utils
pymacaroons
PyMsgBox
PyNaCl
pyparsing
pyperclip
PyRect
pyRFC3339
pyrsistent
PyScreeze
python-apt
python-dateutil
python-debian
python3-xlib
pytweening
pytz
pywhatkit
pyxdg
PyYAML
pyzmq
qtconsole
QtPy
redis
reportlab
requests
requests-unixsocket
rfc3986
scikit-learn
scipy
SecretStorage
Send2Trash
simplejson
six
sklearn
sniffio
soupsieve
sqlparse
systemd-python
terminado
testpath
testresources
threadpoolctl
toml
tornado
traitlets
twilio
typing-extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
vine
virtualenv
wadllib
wcwidth
webencodings
whitenoise
widgetsnbextension
wikipedia
wrapt
xkit
zipp
